@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #000000;
}

/* Nav bar */
nav {
    color: #ffffff;
    width: 100%;
    height: 10vh;
    background-color: #3636368c;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav icon shadow */
.container .logo img{
    margin-left: 10px;
    width: 50px;
    filter: drop-shadow(2px 2px 2px #f5f5f5);
}

.coin{
    margin-top: 10px;
    margin-right: 1px;
    width: 25px;
    filter: drop-shadow(0 0 1px #7c7c7c);
}

/* Nav link text color */
.container .links a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;    
    position: relative;
    margin: 0 20px;
    transition: 0.5s linear;
}

/* Nav link bar color transition*/
.links a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3.5px;
    transition: 0.5s linear;
}

/* Nav color link */
.links .superball::before { background-color: #0000ff }
.links .superball:hover::before , .links .superball:hover{ color: #0000ff; width: 100%; }
.superball{ filter: drop-shadow(0 0 50px #0022ff); }
.links .ultraball::before{background-color: #626262; }
.links .ultraball:hover::before , .links .ultraball:hover{ color: #626262; width: 100%; }
.ultraball{ filter: drop-shadow(0 0 50px #626262); }
.links .enteball::before{background-color: #ffff00; }
.links .enteball:hover::before , .links .enteball:hover{ color: #ffff00; width: 100%; }
.enteball{ filter: drop-shadow(0 0 50px #ffff00); }
.links .masterball::before{background-color: #800080; }
.links .masterball:hover::before , .links .masterball:hover{ color: #800080; width: 100%; }
.masterball{ filter: drop-shadow(0 0 50px #800080); }

/* Nav icon search */
.container .search i{
    color: #ffffff;
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 30px;
}

/* Section Starts */
section{
    width: 100%;
    height: 100%;
}

section .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Section main color */
.content .main-content{
    color: #ededed;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.main-content h2{
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h4{
    font-size: clamp(2rem, 1rem + 5vw, 1.5rem);
}

/* Section main color p */
.main-content p{
    color: #ffffff;
    margin-top: 10px;
}

.main-content .order{
    display: flex;
    margin: 10px 10px;
    width: 50vh;
    justify-content: space-around;
    min-height: 5vh;
}

.order h3{
    font-size: 1.8rem;
}

.order button{
    min-width: 20%;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ff0000, #ff4c4c);
    color: #ffffff;
    font-weight: 700;
    padding: 0 40px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: 0.5s linear;
}

.order button:hover{
    box-shadow: 0 0 20px #945050 ;
    background: linear-gradient(to bottom right, #ff4c4c, #ff0000);
}   

.content .image img{
    max-width: 500px;
    margin-right: 100px;
    transform: translateX(-2000px);
    width: 100%;
}

@media (max-width: 800px){
    .content{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    .main-content{
        margin: 0 10px;
    }
}
@media (min-width: 884px){
    .content .image img{
        min-width: 500px;
    }
}

@media (max-width: 440px){
    .links{
        display: none;
    }
    .image img{
        width: 100px;
        margin-right: none;
    }
}